.default:root {
  --body-bgcolor: #333333;
  --machine-bgcolor: #d3d3d3;
  --screen-bgcolor: #808080;
  --screen-color: #000000;
  --btn-numbers-color: #ffffff;
  --btn-numbers-bgcolor: #333333;
  --btn-numbers-border: #000000;
  --btn-operators-color: #ffffff;
  --btn-operators-bgcolor: #990000;
  --btn-operators-border: #330000;
}

.dracula:root {
  --body-bgcolor: #383a59;
  --machine-bgcolor: #282a36;
  --screen-bgcolor: #21222c;
  --screen-color: #50fa7b;
  --btn-numbers-color: #8be9fd;
  --btn-numbers-bgcolor: #5a6895;
  --btn-numbers-border: #383a59;
  --btn-operators-color: #ffffff;
  --btn-operators-bgcolor: #ff79c6;
  --btn-operators-border: #383a59;
}

.amoled:root {
  --body-bgcolor: #000000;
  --machine-bgcolor: #0c0c0c;
  --screen-bgcolor: #020202;
  --screen-color: #59b2d0;
  --btn-numbers-color: #ffffff;
  --btn-numbers-bgcolor: #000000;
  --btn-numbers-border: #202021;
  --btn-operators-color: #ffffff;
  --btn-operators-bgcolor: #000000;
  --btn-operators-border: #202021;
}
