.default:root {
  --body-bgcolor: #333333;
  --machine-bgcolor: #d3d3d3;
  --screen-bgcolor: #808080;
  --screen-color: #000000;
  --btn-numbers-color: #ffffff;
  --btn-numbers-bgcolor: #333333;
  --btn-numbers-border: #000000;
  --btn-operators-color: #ffffff;
  --btn-operators-bgcolor: #990000;
  --btn-operators-border: #330000;
}

.dracula:root {
  --body-bgcolor: #383a59;
  --machine-bgcolor: #282a36;
  --screen-bgcolor: #21222c;
  --screen-color: #50fa7b;
  --btn-numbers-color: #8be9fd;
  --btn-numbers-bgcolor: #5a6895;
  --btn-numbers-border: #383a59;
  --btn-operators-color: #ffffff;
  --btn-operators-bgcolor: #ff79c6;
  --btn-operators-border: #383a59;
}
.monokai:root {
  --body-bgcolor: #3e3d32;
  --machine-bgcolor: #cfcfc2;
  --screen-bgcolor: #3e3d32;
  --screen-color: #fd971f;
  --btn-numbers-color: #e7e7e7;
  --btn-numbers-bgcolor: #3e3d32;
  --btn-numbers-border: #272822;
  --btn-operators-color: #f92672;
  --btn-operators-bgcolor: #383d32;
  --btn-operators-border: #272822;
}
